Laboratory 3/untitled/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response" type="responseType"/>
  <xs:complexType name="rowType">
    <xs:sequence>
      <xs:element type="xs:string" name="brth_yr" minOccurs="0"/>
      <xs:element type="xs:string" name="gndr" minOccurs="0"/>
      <xs:element type="xs:string" name="ethcty" minOccurs="0"/>
      <xs:element name="nm" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="cnt" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="rnk" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="rowType" name="row" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="_id" use="optional"/>
    <xs:attribute type="xs:string" name="_uuid" use="optional"/>
    <xs:attribute type="xs:string" name="_position" use="optional"/>
    <xs:attribute type="xs:string" name="_address" use="optional"/>
  </xs:complexType>
  <xs:complexType name="responseType">
    <xs:sequence>
      <xs:element type="rowType" name="row"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>